<nav id="main-nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!-- Brand -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Menu -->
    <div class="collapse navbar-collapse">
      <!-- left menu -->
      <ul class="nav navbar-nav">
        <li><a href="#">Portfolio</a></li>
        <li class="pipe">|</li>
        <li><a href="#">Services</a></li>
      <!-- end of left menu -->
      </ul>

      <!-- right menu -->
      <ul class="nav navbar-nav navbar-right">
        <li>
          <button class="btn btn-standard btn-nav" id="contact-trigger">GET IN TOUCH</button>
        </li>
      </ul>
      <!-- end of right menu -->
    </div>

  </div><!-- end of container-fluid -->
</nav><!-- end of main navigation -->
