<nav id="main-nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!-- Brand -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Menu -->
    <div class="collapse navbar-collapse">
      <!-- left menu -->
      <ul class="nav navbar-nav">
        <li class="menu-icon">
          <%= link_to root_path do %>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-home fa-stack-1x" aria-hidden="true"></i>
          </span>
          <% end %>
        </li>

        <%= activeable_tag_for :li, "Portfolio", root_path, {class_name: "active"}%>
        <%= activeable_tag_for :li, "About", about_path, {class_name: "active"}%>

      <!-- end of left menu -->
      </ul>

      <!-- right menu -->
      <ul class="nav navbar-nav navbar-right">
        <li class="menu-icon">
          <%= link_to root_path do %>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-envelope fa-stack-1x" aria-hidden="true"></i>
          </span>
          <% end %>
        </li>
      </ul>
      <!-- end of right menu -->
    </div>

  </div><!-- end of container-fluid -->
</nav><!-- end of main navigation -->
