<section class="projects">
  <center>
    <h5>THIS IS MY</h5>
    <h1>PORTFOLIO</h1>
    <hr>
    <p>View a collection of my latest and favorite design and development projects.</p>
  </center>
</section>
