<section class="projects-header">
  <center>
    <h5>THIS IS MY</h5>
    <h1>PORTFOLIO</h1>
    <hr>
    <p>View a collection of my latest and favorite design and<br> development projects.</p>
  </center>
</section>

<section class="projects">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="project uteeni">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="project harvester">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="project hello">
        </div>
      </div>
    </div><!-- end of row -->

    <br>
    <br>

    <div class="row">
      <div class="col-sm-4">
        <div class="project heba">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="project connectica">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="project">
        </div>
      </div>
    </div><!-- end of row -->
  </div><!-- end of container -->
</section>

<section class="projects-footer">
  <div class="footer">
    <center>
      <p>Copyright</p>
    </center>
  </div>
</section>
