<section class="uteeni">
  <center>
    <div class="content">
      <h3>PROJECT</h3>
      <h1>UTEENI
      </h1>
      <hr>
      <%= image_tag('projects/development-white.png') %>
    </div>
  </center>
</section>
