<section class="portfolio-header">
  <center>
    <div class="content trigger">
      <h3>THIS IS MY</h3>
      <h1>PORTFOLIO
      </h1>
      <hr>
      <p class="subheading">View a collection of my latest and favorite design and development projects</p>
    </div>
  </center>
</section>

<section class="portfolio">
  <div class="container">
    <center>
      <%= render 'partials/portfolio' %>
    </center>
  </div><!-- end of container -->
</section><!-- end of portfolio -->

<%= render 'partials/recommendations' %>
