<section class="portfolio-header">
  <center>
    <div class="content trigger">
      <h3>THIS IS MY</h3>
      <h1>PORTFOLIO
      </h1>
      <hr>
      <p>View a collection of my latest and favorite design and<br> development projects</p>
    </div>
  </center>
</section>

<%= render 'partials/portfolio' %>
<%= render 'partials/recommendations' %>
