<% content_for :title, "My Story" %>
<!-- intro -->
<section class="about-header">
  <center>
    <div class="content">
      <h3>THIS IS</h3>
      <h1>MY STORY
      </h1>
      <hr>
      <p class="subheading">This is my story and how I fell into the world of startups and web design</p>
    </div>
  </center>
</section>

<section class="story">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2>MY STORY</h2>
        <hr>
        <p>Two years ago I was doing research in Bangkok and finishing my thesis for my masters in psychology. Everything changed when I started a blog...</p>

        <p>My first website was a blank WordPress site. It was uninspiring and it had no personality. And I didn't know anything about design or development to make it the way I envisioned it to be.</p>

        <p>So I started teaching myself to use Illustrator and Photoshop. As a kid I loved drawing and using computer programs (good ol' Paint) to create digital images. I could spend hours designing. It just clicked.</p>

        <p>So when I finished my first design I was so proud! But that quickly wore off cause I had no clue how to get my creation over <i>there</i>...I had to learn how to code.</p>
      </div>
      <div class="col-sm-6">
        <p>So I spend some more sleepless nights learning basic HTML and CSS online.</p>
        
        <p>It was amazing, my designs were coming to life! But I wasn’t quite there yet. I still had a lot to learn, and I needed someone with experience to teach me. So after I finished my masters I decided to completely focus on web design.</p>

        <p>I took on a job as a frontend intern, where I learned about design, development, marketing, User Experience and so much more.</p>

        <p>After that I started working full-time as a frontend developer, applying my knowledge in design, development, UX and even psychology to all my projects.</p>

        <p>After two years, I became the lead frontend developer at my current company, where I don’t only work on projects, but I also manage them, talk to my clients, and share and teach my skills and knowledge with my team and help them grow.</p>

      </div>
    </div>
  </div>

</section>
