<!-- intro -->
<section class="about-header">
  <center>
    <div class="content">
      <h3>WHAT I'M</h3>
      <h1>ABOUT
      </h1>
      <hr>
      <p>This is my story and how I fell into the world <br> of startups and web design</p>
    </div>
  </center>
</section>

<section class="story">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2>MY STORY</h2>
        <hr>
        <p>Like many of us, I had absolutely no clue what I wanted to do with my life. I was working in Bangkok at the time, finishing my thesis for my masters in psychology. It wasn’t until I started a blog that everything started to fall into place.</p>

        <p>My first website was a blank WordPress site. It was not inspiring and it had no personality. And I knew absolutely nothing about design or development to fix that.</p>

        <p>So I started teaching myself how to use Illustrator and Photoshop. As a kid I loveddrawing and using computer programs to create digital images. Like long lost friends, we just clicked. I could spend hours designing and it would never wear me out.</p>

        <p>So when I finished my first design, I asked myself, great, now how do I get this over there...I had to learn how to code. So I </p>
      </div>
      <div class="col-sm-6">
        <p>It was amazing, my designs were coming to life! But I wasn’t quite there yet. I had a lot to learn, and I needed someone with experience to teach me. So after I finished my studies I decided to completely focus on web design.</p>

        <p>I took on a job as a frontend intern, where I learned about frontend development, marketing, UX design and so much more.</p>

        <p>After that I started working full-time as a frontend developer, applying my knowledge in design, development, UX and even psychology to all my projects.</p>

        <p>After two years, I became the lead frontend developer at my current company, where I don’t only work on projects, but I also manage them, talk to my clients, and share and teach my skills and knowledge with my team and help them grow.</p>

      </div>
    </div>
  </div>

</section>
