<section class="email">
  <center>
    <div class="container">
      <div class="content">
        <h3>MESSAGE</h3>
        <h1>SENT!
        </h1>
        <hr>
        <p class="subheading">Thanks for your message, I will reply to you as soon as possible!</p>
        <%= link_to root_path, class: "back" do %>
        <i class="fa fa-long-arrow-left" aria-hidden="true"></i>  BACK TO HOME 
        <% end %>

      </div>
    </div>
  </center>
</section>
