// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets"
@import "bootstrap"


/*************************/
/*    General Styles     */
/*************************/

/*
 * Containers
 */

.container
  max-width: 800px

/*
 * Fonts
 */

h1
  font-family: 'Raleway', 'Helvetica', 'Arial'
  font-size: 32px
  margin-bottom: 0px
  letter-spacing: 5px
  margin-top: 5px
  font-weight: 600

h5
  font-family: 'Raleway', 'Helvetica', 'Arial'
  font-size: 15px
  margin-bottom: 0px
  letter-spacing: 2.5px

p
  margin: 0px

/*************************/
/*       Navigation      */
/*************************/
.navbar-default
  background-color: transparent
  border-bottom: 1px solid white

  // Toggle mode
  .navbar-toggle
    border: none
    &:hover
      background-color: transparent
    .icon-bar
      background-color: #fff


  /*
   * Main Navigation
   */
  .navbar-nav
    > li
      > a
        color: white
        &:hover, &:focus
          color: white
      > span
        color: white

    // Menu items
    .menu-item
      font-family: 'Raleway', 'Helvetica', 'Arial'
      text-transform: uppercase
      font-size: 12px
      letter-spacing: 2px
      a
        padding: 25px 0px 3px
        margin-left: 10px
        margin-right: 10px
        &:hover, &:focus
          border-bottom: 2px solid white
          color: white

    // Home and email icons
    .menu-icon
      a
        padding: 15px 10px

  /*
   * Right navigation
   */
  .navbar-right
    margin-right: 0px


/*************************/
/*       Projects        */
/*************************/

section.projects-header
  color: #fff
  background: url(image_path('projects-header.jpg'))
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  padding: 175px 0px
  height: 430px

  hr
    width: 50px
    border: 2px solid #fff
    margin: 15px 0px

  p
    font-weight: 100
    letter-spacing: 1.5px
    font-size: 14px

section.projects
  padding: 60px 0px
  background: #EAEAEA
  .project
    background: gray
    height: 300px
    width: auto
  .uteeni
    height: 400px
  .harvester
    height: 200px
  .connectica
    height: 280px
  .description
    height: 300px
    background: white
  .hello
    height: 500px
  .heba
    height: 400px



section.projects-footer
  height: 375px
  background: url(image_path('projects-footer.jpg'))
  position: relative

  .footer
    color: #fff
    border-top: 1px solid #fff
    position: absolute
    bottom: 0
    left: 0
    right: 0
    margin: 0 auto
    padding: 10px 0px
